.card {
  height: 150px;
  transition: 300ms transform ease, 300ms opacity ease, 300ms box-shadow ease;
  perspective: 900px;
  z-index: 0;
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  &:hover {
    transform: scale(1.1);
    z-index: 100;
  }
  &:focus {
    transform: scale(1.05);
    outline: none;
  }
  &.card--selected {
    transform: scale(1.1);
    z-index: 200;
  }
  &.card--matched {
    opacity: 0;
  }
}
.card__inner {
  background: #fff;
  box-shadow: var(--shadow);
  transition: 300ms transform ease, 300ms opacity ease, 300ms box-shadow ease;
  transform-style:preserve-3d;
  height: 100%;
  border-radius: var(--border-radius);
  &:hover {
    box-shadow: var(--shadow-hover);
  }
}
.card--selected, .card--matched {
  .card__inner {
    transform: rotateY(180deg);
    box-shadow: var(--shadow-hover);
  }
}
.card--matched {
  cursor: default;
  .card__inner {
    transform: rotateY(180deg) translateY(-1rem);
  }
}
.card__front, .card__back {
  position: absolute;
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__back {
  background: var(--deep-blue);
  font-size: 5rem;
  color: rgba(#fff, .8);
}
.card__front {
  transform: rotateY(180deg);
  z-index: 900;
}
