:root {
  --cool-gray: #F2F8FF;
}

.App {
  text-align: center;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
body {
  background-color: var(--cool-gray) ;
  margin-top:0;
}

* {
  box-sizing: border-box;
}