:root {
  --cool-gray: #F2F8FF;
  --light-gray: rgba(255,255,255,0.2);
  --dark-gray: #444;
  --dark-bg: #1A1A1A;
  --med-blue: #496A81;
  --deep-blue: #2B3A67;
  --orange: #F68E5F;
  --orangered: #F76C5E;
  --peach: #fdbfb3;
  --fnt: 'Roboto', 'Helvetica Neue','Helvetica', arial, sans-serif;
  --retro-fnt: 'Press Start 2P', cursive;
  --shadow:0 4px 8px -4px rgba(0,0,0, .3);
  --shadow-hover: 0 8px 24px rgba(0,0,0,.1);
  --border-radius: 5px;
}
* {
  box-sizing: border-box;
}
body {
  margin:0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--cool-gray);
  background: var(--dark-bg);
  font-family: var(--retro-fnt);
  & .alt-theme {
    font-family: var(--fnt);
    background-color: var(--cool-gray) ;
    color: var(--dark-gray);
  }
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color ease 300ms, color ease 300ms;
}

h1 {
  text-transform: uppercase;
}
h1, h2, h3 {
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
}
